<section class="about-section section reveal fade-left" id="about-us">
  <div class="container">
    <h2 class="section-title">About <span class="accent">Us</span></h2>
    <p class="about-section-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-list-container">
      <ol class="about-list list">
        <li class="about-item item">
          <p class="about-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-item item">
          <p class="about-text">Wide range of course levels and options</p>
        </li>
        <li class="about-item item">
          <p class="about-text">Multicultural learning environment</p>
        </li>
        <li class="about-item item">
          <p class="about-text">Comprehensive language support services</p>
        </li>
      </ol>
      <div class="about-emoji">
        <img
          srcset="./img/about-us/memoji.png 1x, ./img/about-us/memoji@2x.png 2x"
          src="./img/about-us/memoji.png"
          alt="emoji girl"
          width="255"
          height="172"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
