<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-wrap">
        <a href="index.html" class="footer-logo"
          >english<span class="footer-item-accent">excellence</span>.</a
        >
        <address class="footer-address">
          <ul class="footer-list">
            <li class="footer-list-item">
              <p class="item-title">Phone number:</p>
              <a href="tel:+380684439426" class="footer-item"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-list-item">
              <p class="item-title">Address:</p>
              <a
                href="https://maps.app.goo.gl/bPwTf8E8XLwf26PZ7"
                target="_blank"
                class="footer-item"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>
      <nav class="footer-nav">
        <ul class="footer-list footer-list-menu">
          <li class="footer-list-item">
            <a href="#about-us" class="footer-item">About us</a>
          </li>
          <li class="footer-list-item">
            <a href="#lessons" class="footer-item">Our lessons</a>
          </li>
          <li class="footer-list-item">
            <a href="#teachers" class="footer-item">Teachers</a>
          </li>
          <li class="footer-list-item">
            <a href="#reviews" class="footer-item">Reviews</a>
          </li>
          <li class="footer-list-item">
            <a href="#contact" class="footer-item">Contact us</a>
          </li>
        </ul>
      </nav>
      <ul class="footer-social">
        <li>
          <a
            href="https://www.facebook.com/goITclub/"
            class="footer-social-item"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="footer-icon" width="26" height="26">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/goitclub/"
            class="footer-social-item"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="footer-icon" width="26" height="26">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/c/GoIT"
            class="footer-social-item"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="footer-icon" width="26" height="26">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="text">&#169;2023 English Excellence. All rights reserved.</p>
      <ul class="footer-bottom-list">
        <li class="footer-bottom-item">
          <a class="link" href="./privacy-policy.html" target="_blank"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-bottom-item">
          <a class="link" href="" target="blank">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
