<!--HEADER-->
<header class="header-section" id="home">
  <div class="container header-container">
    <!-- Navigation -->
    <a href="./index.html" class="header-logo link"
      >english<span class="header-logo-span">excellence</span>.</a
    >
    <nav class="header-nav">
      <!-- Logo -->

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-us">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#our-lessons">Our lessons</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#teachers">Teachers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#leave-application"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-socials-list">
      <li class="header-socials-item">
        <a
          class="header-socials-link link"
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook link"
        >
          <svg class="header-socials-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="header-socials-link link"
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram link"
        >
          <svg class="header-socials-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="header-socials-link link"
          href="https://youtube.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube link"
        >
          <svg class="header-socials-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- Mobile Menu -->

    <button
      class="menu-open-button js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="Menu open button"
      data-menu-open-btn
    >
      <svg
        class="menu-open-icon"
        width="32"
        height="23"
        aria-controls="mobile-menu"
        aria-expanded="false"
        role="img"
      >
        <use href="./img/icons.svg#icon-nav"></use>
      </svg>
    </button>
  </div>
  <!-- Mobile Menu container -->
  <div
    class="mobile-backdrop js-menu-container"
    id="mobile-menu"
    data-menu-backdrop
  >
    <div class="menu-container">
      <button
        type="button"
        class="menu-close-button js-close-menu"
        aria-controls="mobile-menu"
        aria-label="Menu close button"
        data-menu-close-btn
      >
        <svg class="menu-close-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <!-- Mobile Menu Navigation  -->
      <div class="menu-nav">
        <ul class="menu-nav-list">
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#about-us">About us</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#our-lessons">Our lessons</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#teachers">Teachers</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#reviews">Reviews</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#leave-section">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- Mobile Menu Socials -->
      <ul class="menu-socials-list">
        <li class="menu-socials-item">
          <a
            class="menu-socials-link"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook icon"
          >
            <svg class="menu-socials-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="menu-socials-item">
          <a
            class="menu-socials-link"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram icon"
          >
            <svg class="menu-socials-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="menu-socials-item">
          <a
            class="menu-socials-link"
            href="https://youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="youtube icon"
          >
            <svg class="menu-socials-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
