<section class="hero section">
  <div class="container hero-container">
    <h1 class="hero-header">
      Discover the joy of learning
      <span class="header-accent-color">English</span> with us!
    </h1>

    <a href="#leave-application" class="button hero-button"
      >Leave an application</a
    >
    <a
      href="#footer"
      class="scroll-to-bottom"
      aria-label="Scroll to the bottom of the page"
    >
      <svg class="scroll-to-bottom-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-scroll"></use>
      </svg>
    </a>
  </div>
</section>
