<section class="leave-application">
  <div class="container">
    <div class="leave-application-heading">
      <h2 class="leave-application-heading-title">Leave an application</h2>
      <p class="leave-application-heading-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
    </div>

    <div class="leave-application-content">
      <div class="leave-application-image-card">
        <img
          class="leave-application-image"
          srcset="
            ../img/leave-application/leave-application-image.png    1x,
            ../img/leave-application/leave-application-image@2x.png 2x
          "
          src="../img/leave-application/leave-application-image.png"
          alt="Girl in headphones learning"
          loading="lazy"
        />
        <h3 class="leave-application-image-card-heading">1000</h3>
        <p class="leave-application-image-card-text">
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>
      <form class="leave-application-form">
        <div class="leave-application-form-field">
          <label>
            <input
              class="leave-application-form-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Name"
              pattern="[A-Za-z] .{3,}"
          /></label>
        </div>

        <div class="leave-application-form-field email">
          <label>
            <input
              class="leave-application-form-input"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Email"
          /></label>
        </div>

        <div class="leave-application-form-field phone">
          <label>
            <input
              class="leave-application-form-input"
              type="tel"
              name="user-phone"
              id="user-phone"
              placeholder="Phone"
          /></label>
        </div>

        <div class="leave-application-form-field">
          <label>
            <textarea
              class="leave-application-form-comment"
              name="comment"
              id="user-comment"
              rows="3"
              placeholder="Comment"
            ></textarea>
          </label>
        </div>

        <div class="leave-application-form-field-teachers">
          <p class="leave-application-radio-heading">Choose a teacher:</p>
          <div class="leave-application-form-teachers">
            <div class="leave-application-form-radio-element">
              <input
                type="radio"
                class="visually-hidden"
                id="teacher-maria"
                name="teacher"
                value="maria"
              />

              <label
                class="leave-application-form-radio-label"
                for="teacher-maria"
              >
                <span class="leave-application-form-radio">
                  <svg width="10" height="10">
                    <use href="./img/icons.svg#icon-circle"></use>
                  </svg>
                </span>
                Maria</label
              >
            </div>

            <div class="leave-application-form-radio-element">
              <input
                type="radio"
                class="visually-hidden"
                id="teacher-artem"
                name="teacher"
                value="artem"
              />

              <label
                class="leave-application-form-radio-label"
                for="teacher-artem"
              >
                <span class="leave-application-form-radio">
                  <svg width="10" height="10">
                    <use href="./img/icons.svg#icon-circle"></use>
                  </svg>
                </span>
                Artem</label
              >
            </div>

            <div class="leave-application-form-radio-element">
              <input
                type="radio"
                class="visually-hidden"
                id="teacher-ilona"
                name="teacher"
                value="ilona"
              />

              <label
                class="leave-application-form-radio-label"
                for="teacher-ilona"
              >
                <span class="leave-application-form-radio">
                  <svg width="10" height="10">
                    <use href="./img/icons.svg#icon-circle"></use>
                  </svg>
                </span>
                Ilona</label
              >
            </div>

            <div class="leave-application-form-radio-element">
              <input
                type="radio"
                class="visually-hidden"
                id="teacher-volodymr"
                name="teacher"
                value="volodymr"
              />

              <label
                class="leave-application-form-radio-label"
                for="teacher-volodymr"
              >
                <span class="leave-application-form-radio">
                  <svg width="10" height="10">
                    <use href="./img/icons.svg#icon-circle"></use>
                  </svg>
                </span>
                Volodymr</label
              >
            </div>
          </div>
        </div>

        <button
          class="button leave-application-form-submit-button"
          type="submit"
        >
          Send
        </button>

        <p class="leave-application-form-agreement-text">
          By clicking on “Send” button, you agree to our
          <a href="">Privacy Policy</a>,<br />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
