<section
  class="leave-application section reveal fade-left"
  id="leave-application"
>
  <div class="container">
    <div class="leave-application-heading">
      <h2 class="leave-application-heading-title with-accent">
        Leave an <span class="accent">application</span>
      </h2>
      <h2 class="leave-application-heading-title clean">
        Leave an application
      </h2>
      <p class="leave-application-heading-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
    </div>

    <div class="leave-application-content">
      <div class="leave-application-image-card">
        <img
          class="leave-application-image"
          srcset="
            ./img/leave-application/leave-application-image.png    1x,
            ./img/leave-application/leave-application-image@2x.png 2x
          "
          src="./img/leave-application/leave-application-image.png"
          alt="Girl in headphones learning"
          width="492"
          height="392"
          loading="lazy"
        />
        <span class="leave-application-image-card-heading">1000</span>
        <p class="leave-application-image-card-text">
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>
      <form class="leave-application-form">
        <div class="leave-application-form-text-fields">
          <div class="leave-application-form-field">
            <label>
              <input
                class="leave-application-form-input"
                type="text"
                name="user-name"
                id="user-name"
                placeholder="Name"
                required
                minlength="3"
                pattern="[A-Za-z]+"
            /></label>
          </div>

          <div class="leave-application-form-field">
            <label>
              <input
                class="leave-application-form-input"
                type="email"
                name="user-email"
                id="user-email"
                required
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                placeholder="Email"
            /></label>
          </div>

          <div class="leave-application-form-field">
            <label>
              <input
                class="leave-application-form-input"
                type="tel"
                name="user-phone"
                id="user-phone"
                required
                pattern="[0-9]{10,}"
                minlength="10"
                placeholder="Phone"
            /></label>
          </div>

          <div class="leave-application-form-field">
            <label>
              <textarea
                class="leave-application-form-comment"
                name="comment"
                id="user-comment"
                rows="3"
                required
                minlength="3"
                placeholder="Comment"
              ></textarea>
            </label>
          </div>
        </div>

        <div class="leave-application-form-field-teachers">
          <p class="leave-application-radio-heading">Choose a teacher:</p>
          <div class="leave-application-form-teachers">
            <div class="leave-application-form-radio-element">
              <input
                type="radio"
                class="visually-hidden"
                id="teacher-maria"
                name="teacher"
                value="maria"
                checked
              />

              <label
                class="leave-application-form-radio-label"
                for="teacher-maria"
              >
                <span class="leave-application-form-radio-wrapper">
                  <span class="leave-application-form-radio">
                    <svg width="10" height="10">
                      <use href="./img/icons.svg#icon-circle"></use>
                    </svg>
                  </span>
                </span>
                Maria</label
              >
            </div>

            <div class="leave-application-form-radio-element">
              <input
                type="radio"
                class="visually-hidden"
                id="teacher-artem"
                name="teacher"
                value="artem"
              />

              <label
                class="leave-application-form-radio-label"
                for="teacher-artem"
              >
                <span class="leave-application-form-radio-wrapper">
                  <span class="leave-application-form-radio">
                    <svg width="10" height="10">
                      <use href="./img/icons.svg#icon-circle"></use>
                    </svg>
                  </span>
                </span>
                Artem</label
              >
            </div>

            <div class="leave-application-form-radio-element">
              <input
                type="radio"
                class="visually-hidden"
                id="teacher-ilona"
                name="teacher"
                value="ilona"
              />

              <label
                class="leave-application-form-radio-label"
                for="teacher-ilona"
              >
                <span class="leave-application-form-radio-wrapper">
                  <span class="leave-application-form-radio">
                    <svg width="10" height="10">
                      <use href="./img/icons.svg#icon-circle"></use>
                    </svg>
                  </span>
                </span>
                Ilona</label
              >
            </div>

            <div class="leave-application-form-radio-element">
              <input
                type="radio"
                class="visually-hidden"
                id="teacher-volodymr"
                name="teacher"
                value="volodymr"
              />

              <label
                class="leave-application-form-radio-label"
                for="teacher-volodymr"
              >
                <span class="leave-application-form-radio-wrapper">
                  <span class="leave-application-form-radio">
                    <svg width="10" height="10">
                      <use href="./img/icons.svg#icon-circle"></use>
                    </svg>
                  </span>
                </span>
                Volodymr</label
              >
            </div>
          </div>
        </div>

        <button
          class="button leave-application-form-submit-button"
          type="submit"
        >
          Send
        </button>

        <p class="leave-application-form-agreement-text">
          By clicking on “Send” button, you agree to our
          <a class="leave-application-form-link" target="_blank" href="./privacy-policy.html"
            >Privacy Policy</a
          >,<br />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
