<!-- PROPOSAL TO LEAVE AN APPLICATION  -->
<section class="section proposal-section reveal fade-left">
  <div class="container proposal-container">
    <h2 class="visually-hidden">Proposal to leave an application</h2>

    <strong class="proposal-appeal"
      >Master the <span class="header-accent-color">Language</span> with Our
      English Package!</strong
    >

    <div class="proposal-content-wrap">
      <h3 class="proposal-aux-title">Power of English</h3>

      <div class="proposal-list-wrap">
        <ul class="proposal-list">
          <li class="proposal-list-item">
            <div class="proposal-list-item-icon">
              <svg class="proposal-list-item-icon-check" width="12" height="12">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal-list-item-text">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>

          <li class="proposal-list-item">
            <div class="proposal-list-item-icon">
              <svg class="proposal-list-item-icon-check" width="12" height="12">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal-list-item-text">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>

          <li class="proposal-list-item">
            <div class="proposal-list-item-icon">
              <svg class="proposal-list-item-icon-check" width="12" height="12">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal-list-item-text">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <div class="proposal-decor-img-wrap">
          <div class="proposal-decor-img"></div>
        </div>
      </div>

      <a class="button proposal-button" href="#leave-application"
        >Leave an application</a
      >
    </div>
  </div>
</section>
