.hero {
  padding-bottom: 80px;
  margin: 0 auto;
  max-width: 335px;
  min-height: 709px;
}

@media only screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-mobile@2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-tablet.jpg');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-tablet@2x.jpg');
  }
}
@media only screen and (min-width: 1280px) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-desktop.jpg');
  }
}
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-desktop@2x.jpg');
  }
}
.hero-container {
  position: relative;
  padding: 425px 20px 72px 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;

  background-image: linear-gradient(
      357deg,
      rgba(0, 0, 0, 0.4) 39.23%,
      rgba(0, 0, 0, 0) 66.28%
    ),
    url('../img/hero/bg-mobile.jpg');
}
@media only screen and (max-width: 375px) {
  .hero .hero-container {
    padding: 425px 20px 72px;
  }
}

.hero-header {
  max-width: 295px;
  margin-bottom: 40px;
  text-align: left;

  font-size: 38px;
  line-height: 1.05;
  color: var(--white);
}
.hero-header-english {
  color: var(--soft-green);
}

.hero .hero-button {
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-button:focus {
  background-color: #38ae5f;
}

@media only screen and (min-width: 270px) {
  .hero .hero-button {
    width: 100%;
    min-width: 250px;
  }
}

.scroll-to-bottom {
  position: absolute;
  right: 14px;
  bottom: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;
  border-radius: 50%;

  cursor: pointer;
  border: none;
  background-color: var(--white);
  transition: background-color var(--animation-fast);
}
.scroll-to-bottom:hover,
.scroll-to-bottom:focus {
  background-color: var(--green);
}
.scroll-to-bottom-icon {
  fill: var(--green);
  transition: background-color var(--animation-fast);
}
.scroll-to-bottom:hover .scroll-to-bottom-icon,
.scroll-to-bottom:focus .scroll-to-bottom-icon {
  fill: var(--white);
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-bottom: 100px;
    max-height: 857px;
    padding: 32px;
  }
  .hero-container {
    padding-top: 260px;
    padding-left: 20px;
  }
  .hero-header {
    max-width: 488px;
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 1.17;
  }

  .hero-button {
    max-width: 306px;
  }
  .scroll-to-bottom {
    right: 32px;
    bottom: 32px;
    width: 48px;
    height: 48px;
  }
  .scroll-to-bottom-icon {
    width: 24px;
    height: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    max-width: 1152px;
    padding-bottom: 96px;
    max-height: 629px;
  }
  .hero-header {
    max-width: 584px;
  }
}
