.hero {
  padding-bottom: 80px;
}
.hero .hero-container {
  min-height: 709px;
  padding: 20px;
  padding-top: 425px;
  padding-bottom: 14px;

  border-radius: 16px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
      357deg,
      rgba(0, 0, 0, 0.4) 39.23%,
      rgba(0, 0, 0, 0) 66.28%
    ),
    url('../img/hero/bg-mobile.jpg');
}
@media only screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-mobile.jpg@2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-tablet.jpg');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-tablet@2x.jpg');
  }
}
@media only screen and (min-width: 1280px) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-desktop.jpg');
  }
}
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero .hero-container {
    background-image: linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero/bg-desktop@2x.jpg');
  }
}

.hero-header {
  max-width: 295px;
  margin-bottom: 40px;

  color: var(--white);
  font-size: 38px;
  font-weight: 700;
  line-height: 1.05;
}
.hero-header-english {
  color: var(--soft-green);
}

.hero-buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .hero-button {
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 270px) {
  .hero .hero-button {
    width: 100%;
    min-width: 250px;
  }
}

.scroll-to-bottom {
  margin-left: auto;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;
  border-radius: 50px;

  cursor: pointer;
  border: none;
  background-color: var(--white);
  transition: background-color var(--animation-fast);
}
.scroll-to-bottom:hover {
  background-color: var(--green);
}
.scroll-to-bottom-icon {
  fill: var(--green);
}
.scroll-to-bottom-icon:hover {
  fill: var(--white);
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 100px;
  }
  .hero .hero-container {
    max-width: 704px;
    min-height: 857px;
    padding: 32px;
    padding-top: 260px;
  }
  .hero-header {
    max-width: 488px;
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 1.17;
  }
  .hero-buttons-wrapper {
    gap: 215px;
  }

  .hero-button {
    max-width: 306px;
  }
  .scroll-to-bottom {
    width: 48px;
    height: 48px;
  }
  .scroll-to-bottom-icon {
    width: 24px;
    height: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 96px;
  }
  .hero .hero-container {
    max-width: 1152px;
    min-height: 629px;
    padding-left: 64px;
  }
  .hero-header {
    max-width: 584px;
  }
  .hero-buttons-wrapper {
    gap: 83px;
  }
}
