.leave-application {
  padding: 40px 0;
}

.leave-application-heading {
  margin-bottom: 20px;
}

.leave-application-heading-title {
  margin-bottom: 14px;

  color: var(--black);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: -0.02em;
}

.leave-application-heading-title.with-accent {
  display: none;
}

@media only screen and (min-width: 768px) {
  .leave-application-heading-title.clean {
    display: none;
  }

  .leave-application-heading-title.with-accent {
    display: block;
  }
}

.leave-application-heading-text {
  color: var(--soft-black);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;

  margin: 0 auto;

  max-width: 709px;
}

.leave-application-content {
  display: flex;
  gap: 32px;
}

.leave-application-image-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 492px;
  padding-bottom: 40px;

  background-color: var(--green);
  border-radius: 30px;
}

@media only screen and (max-width: 1279px) {
  .leave-application-image-card {
    display: none;
  }
}

.leave-application-image {
  margin-bottom: 20px;
  border-radius: 30px;
}
.leave-application-image-card-heading {
  margin-bottom: 8px;

  color: var(--white);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.leave-application-image-card-text {
  width: 452px;

  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}
.leave-application-form {
  display: flex;
  flex-direction: column;
}

.leave-application-form-field:not(:last-child) {
  margin-bottom: 18px;
}

.leave-application-form-text-fields {
  margin-bottom: 20px;
}

.leave-application-form-input {
  display: block;
  width: 100%;

  padding: 16px 18px;

  border-radius: 12px;
  border: 1px solid var(--soft-black);
  outline: none;

  transition: border var(--animation-fast);
}
.leave-application-form-input:focus,
.leave-application-form-comment:focus {
  border-color: var(--green);
}

.leave-application-form-input::placeholder,
.leave-application-form-comment::placeholder {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}
.leave-application-form-comment {
  display: block;
  width: 100%;
  min-height: 94px;

  padding: 16px 18px;

  border-radius: 12px;
  border: 1px solid var(--soft-black);
  outline: none;

  resize: none;
}

.leave-application-form-field-teachers {
  margin-bottom: 40px;
}

.leave-application-radio-heading {
  display: block;
  margin-bottom: 14px;

  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

.leave-application-form-teachers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 8px;
}

.leave-application-form-radio-element {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: -0.02em;
}

.leave-application-form-radio-label {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}

.leave-application-form-radio {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: 2px solid var(--soft-black);

  fill: transparent;

  cursor: pointer;

  transition:
    fill var(--animation-fast),
    border var(--animation-fast);
}

input[type='radio']:checked
  + .leave-application-form-radio-label
  .leave-application-form-radio {
  fill: var(--green);
  border-color: var(--green);
}

.leave-application-form-submit-button {
  margin-bottom: 16px;
}

.leave-application-form-agreement-text {
  color: var(--soft-black);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
}

.leave-application-form-link {
  text-decoration: underline;
}
