/* SECTION DESCRIPTION */
.our-teachers-description {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .our-teachers-description {
    margin: 0 auto 64px;
    max-width: 710px;
  }
}

/* SECTION LIST */
@media only screen and (min-width: 768px) {
  .our-teachers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    max-width: 576px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1280px) {
  .our-teachers-list {
    max-width: 100%;
  }
}

/* SECTION LIST ITEM*/
@media only screen and (max-width: 767.98px) {
  .our-teachers-item {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .our-teachers-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .our-teachers-item {
    flex-basis: calc((100% - (32px * 3)) / 4);
  }
}

/* SECTION LIST ITEM THUMB*/
.our-teachers-item-thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 16px;

  width: 150px;
  height: 150px;

  background-color: var(--grey-bg-image);

  border-radius: 50%;
  border: none;
  overflow: hidden;
}

/* SECTION LIST ITEM TITLE*/
.our-teachers-item-title {
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

/* SECTION LIST ITEM DESCRIPTION*/
.our-teachers-item-description {
  color: var(--soft-black);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.02em;

  text-align: center;
}

@media only screen and (min-width: 768px) {
  .our-teachers-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
}
