.our-lessons-description {
  margin-bottom: 40px;
}

.our-lessons-item {
  border-radius: 16px;
  border: 1px solid var(--green);
  background-color: var(--white);
  margin-bottom: 40px;
  padding: 40px 20px;
  color: var(--soft-black);
  max-width: 336px;
}

.our-lessons-item:nth-child(2n) {
  border-radius: 16px;
  background-color: var(--green);
  margin-bottom: 40px;
  padding: 40px 20px;
  color: var(--white);
  max-width: 336px;
}

.our-lessons-item-title {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.our-lessons-title-a {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.our-lessons-title-price {
  margin-bottom: 40px;
  font-size: 32px;
}

.black-color {
  color: var(--black);
}

.our-lessons-item-description {
  max-width: 291px;
  min-height: 132px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.02em;
  text-align: center;
}

.our-lessons-button {
  padding: 14px 76px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-width: 256px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  color: var(--white);
  background-color: var(--green);
  transition: background-color var(--animation-fast);
}

.our-lessons-button:hover,
.our-lessons-button:focus {
  background-color: var(--dark-green);
}

.our-lessons-secondary-button {
  padding: 14px 76px;
  border: 1px solid var(--soft-gray);
  min-width: 256px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  color: var(--white);
  background-color: var(--green);
  transition: background-color var(--animation-fast);
}

.our-lessons-secondary-button:hover,
.our-lessons-secondary-button:focus {
  color: var(--green);
  background-color: var(--white);
}

@media only screen and (min-width: 768px) {
  .our-lessons-description {
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 665px;
  }

  .our-lessons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .our-lessons-button,
  .our-lessons-secondary-button {
    padding: 16px 61px;
    font-size: 18px;
  }

  .our-lessons-item {
    margin-bottom: 0;
    flex-basis: calc((100% - 32px) / 2);
    padding: 32px 16px;
  }

  .our-lessons-item:nth-child(2n) {
    padding: 32px 16px;
    margin-bottom: 0;
  }

  .our-lessons-title-price {
    margin-bottom: 32px;
  }

  .our-lessons-item-description {
    max-width: 298px;
    margin: 0 auto 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
}

@media only screen and (min-width: 1280px) {
  .our-lessons-item {
    flex-basis: calc((100% - (32px * 3)) / 4);
    padding: 32px;
    max-width: 320px;
  }

  .our-lessons-item:nth-child(2n) {
    padding: 32px;
    margin-bottom: 0;
    max-width: 320px;
  }

  .our-lessons-title-price {
    margin-bottom: 16px;
  }

  .our-lessons-item-description {
    max-width: 246px;
    min-height: 148px;
  }

  .our-lessons-button,
  .our-lessons-secondary-button {
    padding: 16px 38px;
  }
}
