/* PROPOSAL TO LEAVE AN APPLICATION */
/* TODO: add x2 images for background-image ? Is there a picture x2? */
.proposal-section {
  padding: 40px 20px 64px;

  border-radius: 30px;
  background: var(--gree-linear);

  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .proposal-section {
    padding: 64px 18px 92px;
  }
}

.proposal-appeal {
  display: block;
  margin-bottom: 65px;

  font-size: 38px;
  line-height: 1.05;

  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .proposal-appeal {
    padding: 0 14px;
    margin-bottom: 83px;

    font-size: 60px;
    line-height: 1.16;
  }
}

.proposal-accent {
  color: var(--soft-green);
}

.proposal-content-wrap {
  position: relative;
  padding: 40px 20px;
  transform-style: preserve-3d;

  border-radius: 16px;
  background-color: var(--white);
}

@media only screen and (min-width: 768px) {
  .proposal-content-wrap {
    padding: 65px 32px 63px;
  }
}

.proposal-content-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: inherit;
  background: rgba(255, 255, 255, 0.5);
  transform: translateZ(-10px) rotate(11deg);
}

.proposal-content-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: inherit;
  background: var(--light-green);
  transform: translateZ(-10px) rotate(-9deg);
}

.proposal-aux-title {
  margin-bottom: 20px;

  font-size: 20px;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .proposal-aux-title {
    margin-bottom: 32px;

    font-size: 40px;
    line-height: 1.2;
  }
}

.proposal-list-wrap {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .proposal-list-wrap {
    display: flex;
    margin-bottom: 32px;
  }
}

.proposal-list {
  display: inline-block;
  max-width: 449px;
}

.proposal-decor-img-wrap {
  display: none;
}

@media only screen and (min-width: 768px) {
  .proposal-decor-img-wrap {
    display: inline-block;
    position: relative;
  }
}

.proposal-decor-img {
}
@media only screen and (min-width: 768px) {
  .proposal-decor-img {
    position: absolute;
    top: 29px;
    left: 20px;
    display: inline-block;
    background-image: url('../img/proposal/books-stack.png');
    width: 214px;
    height: 263px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.proposal-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .proposal-list-item {
    gap: 16px;
  }
}

.proposal-list-item:not(:last-child) {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .proposal-list-item-text {
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: -0.02em;
  }
}

.proposal-list-item-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;

  background-image: url('../img/proposal/icon-check.svg');
  background-size: contain;
  /* TODO: delete background properties below */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}
@media only screen and (min-width: 768px) {
  .proposal-list-item-icon {
    width: 28px;
    height: 28px;
  }
}

.button.proposal-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  padding: 14px 30px;
}

@media only screen and (min-width: 375px) {
  .button.proposal-button {
    padding-right: 58px;
    padding-left: 58px;
  }
}
@media only screen and (min-width: 768px) {
  .button.proposal-button {
    padding: 16px 64px;
  }
}
