/* SECTION */
.reviews {
  padding: 40px 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .reviews {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews {
    padding: 75px 0;
  }
}
/* TITLE */
.reviews-title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .reviews-title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
}

.reviews-title-accent {
  position: relative;
}
.reviews-title-accent::after {
  position: absolute;
  z-index: -1;
  left: -2px;
  bottom: 0;
  content: '';
  width: calc(100% + 4px);
  height: 20px;
  border-radius: 8px;
  background: var(--soft-green);
}
/* SECTION DESCRIPTION */
.reviews-description {
  margin-bottom: 40px;

  color: var(--soft-black);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
@media only screen and (min-width: 768px) {
  .reviews-description {
    margin-bottom: 64px;

    font-size: 18px;
    line-height: 1.67;
    letter-spacing: -0.02em;
  }
}
@media only screen and (min-width: 768px) {
  .reviews-description {
    margin-left: auto;
    margin-right: auto;

    max-width: 650px;
  }
}
/* SECTION LIST */
/* @media only screen and (min-width: 768px) */
/* SECTION LIST ITEM*/
.reviews-item {
  padding: 20px;

  border-radius: 16px;
  background: var(--gray);
}
.reviews-item:not(:last-child) {
  margin-bottom: 20px;
}

.reviews-item-wrapper {
  display: flex;
  align-items: center;
  padding: 14px;
  margin-bottom: 20px;

  border-radius: 8px;
  background: var(--green);
}

.reviews-item-box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;

  width: 50px;
  height: 50px;

  font-size: 10px;

  background-color: var(--grey-bg-image);

  border-radius: 50%;
  border: none;
  overflow: hidden;
}
.reviews-item-thumb {
  text-align: left;
}
.reviews-item-title {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.reviews-item-subtitle {
  color: var(--soft-white);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}
.reviews-item-description {
  color: var(--soft-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
