:root {
  --black: #121417;
  --soft-black: rgba(18, 20, 23, 0.5);
  --ultra-soft-black: rgba(18, 20, 23, 0.1);
  --green: #4dc274;
  --pressed-green: #38ae5f;
  --ultra-soft-green: rgba(77, 194, 116, 0.1);
  --gree-linear: linear-gradient(85deg, #4dc274 2.25%, #bee8cc 131.25%);
  --light-green: #d4fde1;
  --soft-green: #bee8cc;
  --gray: #f3f5f6;
  --white: #fff;
  --soft-white: rgba(255, 255, 255, 0.5);
  --ultra-soft-white: rgba(255, 255, 255, 0.1);
  --medium-white: rgba(255, 255, 255, 0.6);
  --grey-bg-image: rgb(128, 127, 127);
  --soft-gray: rgba(255, 255, 255, 0.4);
  --red: #ff3333;
  --animation-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-reveal: 500ms cubic-bezier(0.22, -0.03, 0.36, 1.4);
}
